*{
    font-family: 'Roboto', sans-serif;  
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
nav {
  display: flex;
  padding: 0px 24px;
  justify-content: space-between;
  align-items: center;
  background-color: #1b263b;
  
}

#logo {
  margin-left: 0px;
  text-decoration: none;
  color: #ede0d4;
  list-style: none;
  font-size: 16px;
}
#logo::after {
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  margin: auto;
  background: #ede0d4;
  transition: 0.5s;
}
#logo:hover::after {
  width: 100%;
}
#logo-img {
  width: 35px;
  height: 35px;
  border-radius: 36px;
  margin-right: 15px;
}
.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 10px;
  position: relative;
}

.nav-links ul li a {
  color: #ede0d4;
  text-decoration: none;
  font-size: 16px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  margin: auto;
  background: #ede0d4;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}
#currencies {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 100px;
  gap: 100px;
  align-items: center;
  margin-bottom: 96px;
}
#exchange-icon {
  display: inline-block;
  width: 32px;
  
}
#Base-currency {
  padding: 12px;
  background-color: #1b263b;
  font-size: large;
  font-weight: bold;
  border-radius: 4px;
  color: #ede0d4;
}

#Target-currency {
  padding: 12px;
  background-color: #1b263b;
  font-size: large;
  font-weight: bold;
  border-radius: 4px;
  color: #ede0d4;
}
#figures {
  display: flex;
  align-items: center;
  gap: 150px;
  margin-top: 30px;
  align-items: flex-end;
  justify-content: center;
  
  
}
#exact-base-figure {
  padding: 18px;
  color: #1b263b;
  border: 0px;
  border-bottom: 1px solid #1b263b;
  font-size: 4em;
  font-weight: bold;
  width: 50px;
 outline: none;


}
#convert-btn {
  padding: 15px;
  color: #1b263b;
  background-color: #ede0d4;
  font-size: large;
  font-weight: bold;
  border: 1px solid #1b263b;
  margin-top: 20px;
}
#exact-target-figure {
    margin: 0px;
  padding:20px;
  color: #1b263b;
  border-bottom: 1px solid #1b263b;
  font-size: 4em;
  font-weight: bold;
  width: 50px;
}
option {
  border-radius: 5px;
  border: none;
  padding: 8px;
  text-align: center;
}
#Base-currency, #Target-currency {
   
    text-align: center;
}

#Base-figure {
    flex: 0 1 auto;
}
